# Node & Angular
node_modules/
.angular/
dist/
/bin/
/obj/

# Environment / Secret files
.env
src/environments/environment.prod.ts
src/environments/environment.ts

# IDE / Editor folders
.vscode/
.idea/
*.suo
*.user

# Log files
*.log
npm-debug.log*

# OS metadata
.DS_Store
Thumbs.db

# CodeIgniter / PHP
/api/customer/writable/logs/
/api/customer/writable/session/
/api/customer/writable/cache/
/api/customer/writable/debugbar/
/api/customer/vendor/
# Ignore Apache Rewrite Rules
/api/customer/public/.htaccess
/api/customer/.htaccess

# Ignore Database and Environment Configs
/api/customer/app/Config/Database.php
/api/customer/.env